<div class="container auto main_ssjs_02 fix" ng-app="match-news">
    <left-show-directive></left-show-directive>
    <div class="fr">
        <top-show-directive></top-show-directive>
        <div class="bottom fix main_zzhcy_02 ssjc_02_2 tc">
            <h3>首届“中国影视歌曲歌手大赛”北京赛区报名正式开始</h3>
            <h4>发布时间：2016-12-15</h4>
            <p><br/></p>
            <p><span
                    style="font-family: 宋体, SimSun; font-size: 16px;"><strong>首届“中国影视歌曲歌手大赛”北京赛区报名正式开始!</strong><br/><br/></span>
            </p>
            <p><span style="font-family: 宋体, SimSun; font-size: 16px;">主办单位<br/>&nbsp;&nbsp;&nbsp; 朝阳区人民政府呼家楼街道办事处<br/>协办单位<br/>&nbsp;&nbsp;&nbsp; 中视玥邑（北京）影视文化传媒有限公司<br/>参赛条件<br/>&nbsp;&nbsp;&nbsp;&nbsp;8-70周岁男女,不分专业与非专业，不限地域，性别、身高、国籍。身体健康，能够遵守大赛组织委员会制定的各项规章制度并积极参加赛事推广活动和各项慈善公益活动。<br/>报名方式<br/>1、报名地址：海淀区花园北路48号院东门华恩特商务楼A区<br/>2、报名时间： 2016年12月-- 2017年2月30日<br/>3、电话：010—68346376 &nbsp;010—62304956<br/>4、渠道：微信 &nbsp;网上 &nbsp;现场<br/>5、联系人：刘老师 &nbsp;13520120403<br/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;蒲老师&nbsp; 13301194745<br/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;杜老师 &nbsp;13718885196<br/>6、选手报名时，除填写报名表外，还须同时提供下列资料：</span>
            </p>
            <p><span style="font-family: 宋体, SimSun; font-size: 16px;">（1）身份证（护照）(18周岁以下选手报名表须有监护人签名)。<br/>（2）参赛选手照片3张(蓝色背景二寸证件照片)。<br/>（3）参赛选手自备演唱伴奏带。<br/><strong>分组形式</strong><br/>&nbsp;&nbsp; <strong>少年组</strong> 8周岁—-17周岁&nbsp;&nbsp;<strong>青年组</strong> 18周岁—39周岁&nbsp;&nbsp; <strong>中年组</strong> 40周岁—59周岁&nbsp; &nbsp;<strong>老年组</strong> 60周岁—70周岁<br/>&nbsp; &nbsp;(年龄划定以2017年9月29日为准计算选手所参加组别）<br/>&nbsp; &nbsp;小组唱 2-6人&nbsp;&nbsp;&nbsp;合唱组 限定60人。<br/><strong>参赛歌曲要求</strong><br/>&nbsp;&nbsp; 选手参赛歌曲必须是中国新老电影、电视剧、动画片、纪录片、风光片的歌曲。歌曲内容必须健康向上，富有时代气息。每位选手须准备3首歌曲(其中1首为主唱歌曲，2首为备用歌曲)，每首歌曲演唱时间不超过5分钟。原则上由大赛组委会指定曲目中选择。<br/><strong>参赛流程</strong><br/>&nbsp;&nbsp; 北京朝阳分赛区报名时间自2016年12月开始，每个组别报名满200人开始海选，经海选、初赛、复赛、决赛至2017年5月25日止。选手经选拔于2017年6月开始分组陆续参加全国总决赛，全国总决赛颁奖晚会结束后，同时启动赛事第二届。</span><span
                    style="font-family: 宋体,SimSun; font-size: 16px;"><br/></span></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="span">
                <p>上一篇：<a href="#!news-SX-NewYear-activities" ng-click="reloadRoute()">山西省赛区组委会元旦佳节与爱同行公益活动</a>
                </p>
                <p class="xyp">下一篇：<a href="#!news-SAX-signing-ceremony" ng-click="reloadRoute()">陕西省赛区签约仪式在京举行</a>
                </p>
            </div>
        </div>

    </div>
</div>