<div class="fr">
    <div class="title fix">
        <a href="#/home">首页</a> &gt; <a href="#/match-introduction">赛事简介</a> &gt; <a href="#/guwenpw"
                                                                                     class="on">顾问及评委</a>
    </div>

    <div class="bottom fix main_zzhcy_02" style="margin-top: 0px;" ng-controller="guwenpwCtrl">
        <ul class="fr fix">
            <li ng-repeat="pw in pws">
                <a  ng-mouseover="onAbove(pw)" ng-mouseout="leave(pw)" ng-click="goDetail($index)">
                    <div class="pic">
                        <img src="{{ pw.pic }}">
                        <span>{{ pw.title }}</span>
                    </div>
                    <div class="pic_yc tc" ng-show="pw.shows">
                        <img src="../resources/images/zwh-03.png" alt="">
                        <p style="width:158px;">{{ pw.detail }}</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="fenye tc fix">
    </div>

</div>
