<top-of-the-view-sp></top-of-the-view-sp>


<div class="container auto spjj_s2 fix mt20 ml20">
    <div style="display: inline;height: inherit;width: inherit;" ng-repeat="video in videos" >
        <a ng-click="goDetail(video.id)" class="pointer">
            <img src="{{video.cover}}" width="291" height="218">
            <span class="fl pointer">{{video.title}}</span>
            <span class="fr">2017-01-27</span>
        </a>
    </div>

</div>

<!--
<div class="container auto zcmt_s2 fix mt20 ml20 tc">
    <a href="javascript:;">上一页</a>
    <a href="javascript:;">下一页</a>
</div>-->
