<!-- 赛事介绍内容 -->
<div class="container auto main_ssjs_02 fix">
    <div class="fl tc">
        <h4>赛事集锦</h4>
        <ul>
            <li class="on"><a href="#/match-video-coll">精彩视频</a></li>
        </ul>
    </div>
    <div class="fr">
        <div class="title fix">
            <a href="#/home">首页</a> &gt; <a href="#/match-info-coll">赛事集锦</a> &gt; <a href="#/match-video-coll"
                                                                                        class="on">精彩视频</a>
        </div>

        <div class="bottom fix main_spjj_02">
            <ul class="fr fix">
                <li ng-repeat="video in videos">
                    <a ng-click="to_play(video.id)">
                        <div class="pic fix">
                            <img src="{{video.img}}">
                        </div>
                        <div class="pic_yc tc fix">
                            <img src="{{sp_03}}"  alt="">
                        </div>
                        <div class="titles fix">
                            <div class="fl">{{video.title}}</div>
                            <div class="fr">{{video.date}}</div>
                        </div>
                    </a>
                </li>
               <!-- <li>
                    <a href="351.html">
                        <div class="pic fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/news/588ae4b560bbf.jpg">
                        </div>
                        <div class="pic_yc tc fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/sp-03.png" alt="">
                        </div>
                        <div class="titles fix">
                            <div class="fl"> 中国影视歌曲歌手...</div>
                            <div class="fr">2015-05-01</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="263.html">
                        <div class="pic fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/news/588b0e9ae40fd.jpg">
                        </div>
                        <div class="pic_yc tc fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/sp-03.png"  alt="">
                        </div>
                        <div class="titles fix">
                            <div class="fl">北京赛区启动仪式</div>
                            <div class="fr">2016-08-19</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="262.html" >
                        <div class="pic fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/news/58579ee129751.jpg">
                        </div>
                        <div class="pic_yc tc fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/sp-03.png"  alt="">
                        </div>
                        <div class="titles fix">
                            <div class="fl">河北赛区启动仪式</div>
                            <div class="fr">2016-10-19</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="353.html">
                        <div class="pic fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/news/588aff6b4540d.jpg">
                        </div>
                        <div class="pic_yc tc fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/sp-03.png" alt="">
                        </div>
                        <div class="titles fix">
                            <div class="fl">吉林赛区庆“八一”专场音乐会</div>
                            <div class="fr">2016-08-01</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="264.html" >
                        <div class="pic fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/news/588b0013e3f6a.jpg">
                        </div>
                        <div class="pic_yc tc fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/sp-03.png"alt="">
                        </div>
                        <div class="titles fix">
                            <div class="fl">吉林赛区庆“八一”专场音乐会</div>
                            <div class="fr">2016-08-01</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="352.html" >
                        <div class="pic fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/news/588af2b035e9c.jpg">
                        </div>
                        <div class="pic_yc tc fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/sp-03.png"  alt="">
                        </div>
                        <div class="titles fix">
                            <div class="fl">黑龙江、吉林赛区新闻发布会</div>
                            <div class="fr">2015-08-22</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="270.html" >
                        <div class="pic fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/news/588b15b3adfff.jpg">
                        </div>
                        <div class="pic_yc tc fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/sp-03.png" alt="">
                        </div>
                        <div class="titles fix">
                            <div class="fl">中国影视歌曲歌手大赛</div>
                            <div class="fr">2016-03-19</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="269.html">
                        <div class="pic fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/news/588b0d6ae7bc9.jpg">
                        </div>
                        <div class="pic_yc tc fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/sp-03.png"  alt="">
                        </div>
                        <div class="titles fix">
                            <div class="fl">石家庄分赛区 首届“中国影视歌曲...</div>
                            <div class="fr">2016-10-22</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="266.html" >
                        <div class="pic fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/news/588b13b989260.jpg">
                        </div>
                        <div class="pic_yc tc fix">
                            <img src="http://ool42cwl5.bkt.clouddn.com/images/sp-03.png"  alt="">
                        </div>
                        <div class="titles fix">
                            <div class="fl">中国影视歌曲歌手大赛吉林赛区</div>
                            <div class="fr">2016-07-09</div>
                        </div>
                    </a>
                </li>-->
            </ul>
        </div>
        <div class="fenye tc fix">
        </div>

    </div>
</div>